<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Ответы для варианта 3</title>
    <link href="common.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="thanks">
    <p>Яковлев, 3 вариант</p>

    <p>Количество верных доверительных интервалов из тысячи:</p>

    <p th:text="'для варианта 3 (n=400): ' + ${my400}"></p>

    <p th:text="'для варианта 3 (n=10): ' + ${my10}"></p>

    <p th:text="'для стандартного нормального (n=400): ' + ${n400}"></p>

    <p th:text="'для стандартного нормального (n=10): ' + ${n10}"></p>
</div>
</body>
</html>