<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Ответы для варианта 3</title>
    <link th:attr="href=@{/common.css}" href="../public/common.css" type="text/css" rel="stylesheet"/>
    <script th:attr="src=@{webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:attr="src=@{webjars/flot/0.8.3/jquery.flot.min.js}"></script>
</head>
<body>
<div class="thanks">
    <h1>Яковлев Дмитрий, 3 вариант</h1>

    <p>Код доступен на <a href="https://github.com/zimy/probos">GitHub.com</a></p>

    <p>Is my work checked?</p>

    <p>Количество верных доверительных интервалов из тысячи:</p>

    <table class="table table-bordered">
        <thead>
        <tr class="center middle">
            <th>Распределение</th>
            <th>n = 10</th>
            <th>n = 400</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Вариант 3</th>
            <td th:text="${my10}">Низнаю</td>
            <td th:text="${my400}">Низнаю</td>
        </tr>
        <tr>
            <th>Нормальное</th>
            <td th:text="${n10}">Низнаю</td>
            <td th:text="${n400}">Низнаю</td>
        </tr>
        </tbody>
    </table>

    <p th:text="'Квантили: 5%: '+${secondResult.getQ5()}+', 95%: '+${secondResult.getQ95()}"></p>

    <p>Основной гипотезой является то, что ожидания трудоёмкостей равны. Статистика для разностей трудоёмкостей
        составила <span th:text="${secondResult.getT()}">ХЗ</span>, в то время как критическим значением для уровня
        99.99%
        явилось <span th:text="${secondResult.getTCritical()}">ХЗ</span></p>

    <p>Так как статистика по модулю сильно больше критического значения, основная гипотеза отвергается.</p>

    <p> Данные для гистограммы:</p>
    <table class="table table-bordered">
        <thead>
        <tr class="center middle">
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="center middle" th:each="data,rowStat : ${secondResult.getHistogram()}" th:text="${data}"
                th:attr="id=${rowStat.index}">1
            </td>
        </tr>
        </tbody>
    </table>

    <div id="placeholder" style="width:100%;height:300px"></div>
    <script th:inline="javascript" type="text/javascript">
        // <![CDATA[
        $(function () {
            var d2 = [[0, 3], [1, 8], [2, 5], [3, 13], [4, 1], [5, 6], [6, 6]];
            for (trash = 0; trash < 7; trash++) {
                d2[trash][1] = parseInt($("#" + trash).text());
            }
            $.plot($("#placeholder"), [{data: d2, bars: {show: true}}]);
        });
        // ]]>
    </script>
</div>
</body>
</html>