<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Раздел 2, вариант 9</title>
    <link th:attr="href=@{/common.css}" href="../public/common.css" type="text/css" rel="stylesheet"/>
    <script th:attr="src=@{webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:attr="src=@{webjars/flot/0.8.3/jquery.flot.min.js}"></script>
</head>
<body>
<div class="thanks">
    <h1>Яковлев Дмитрий, 302ПИ</h1>

    <p>Код доступен на <a href="https://github.com/zimy/probos">GitHub.com</a></p>
    <a href="#" th:attr="href=@{/os}">Вернуться назад</a>

    <p>
        Таблица на странице, переадресовывающей сюда, содержит информацию о результатах симуляции алгоритма управления
        кешем LRU. Принцип LRU описывает такое поведение кеша, при котором наиболее приоритетной к вытеснению является
        страница, к которой не обращались дольше всего. Для симуляции используется собственная реализация кеша LRU,
        содержащая целые числа в качестве полезной нагрузки. Для полезных применений может быть легко модифицирована для
        использования с другими типами данных. Настройка приложения производится при помощи трёх GET-параметров: cycles,
        cache, pages.
    </p>
    <ul>
        <li>Cache отвечает за размер кеша</li>
        <li>Pages отвечает за количество страниц, доступных для выбора</li>
        <li>Cycles определяет количество экспериментов</li>
    </ul>
    <p>
        Параметры указываются в URI запроса к странице /os с использованием стандартного синтаксиса подстановки
        GET-параметров, например так: <code>domain/os/?cache=6&amp;pages=32&amp;cycles=50</code>.</p>

    <p>Страница для помещения в кеш является значением дискретной равномерно распределённой случайной величины,
        использующей вихрь Мерсенна в качестве генератора входных данных.
    </p>

    <p>Для сборки используется система непрерывной интеграции Travis CI, система сборки Gradle. После успешной сборки
        выполняется запуск проекта в облачном инстансе RedHat OpenShift.</p>
</div>
</body>
</html>